.contentWrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding-top: 3%;
    width: auto;
}

    .contentWrapper > * {
        padding: 10px;
        margin: 0;
        flex: 1 100%;
    }

.column-6 {
    width: 50%;
    float: left;
    padding: 0.5em 2%;
}

.contentSection {
    text-align: left;
    background-color: #E6E4D9;
    height: 460px;
    font-size: 18px;
    padding-top: 3%;
    width: 400px;
}

.contentSection1 {
    text-align: left;
    background-color: transparent;
    width: 0;
}

.bumpLeft {
    padding-left: 10px;
    font-size: 16px;
    color: #094E5D;
}

.range {
    width: auto;
    text-align: left;
    min-width: 200px;
    max-width: 200px;
}

.middle {
    margin-right: 2%;
    margin-bottom: 4%;
    margin-top: 3%;
    padding-top: 5%;
    padding-left: 5%;
}

@media all and (max-width:878px) {
    .contentSection {
        flex: 3;
        order: 2;
        width: auto;
    }

    .flexer {
        margin-left: -10px;
        padding-top: 3%;
        padding-left: 40px;
    }

    .middle {
        padding-top: 10%;
    }

    .range {
        min-width: 50px;
        max-width: 50px;
    }

    .collapse {
        height: 0;
    }
}

@media all and (min-width:879px) {
    .contentSection {
        flex: 3;
        order: 2;
        width: auto;
    }
}

