<div class="top-row pl-4 navbar navbar-dark" style="background-color:#04242D">   
    <a class="navbar-brand" href=""><img src="images/logo-sm.jpg" width="182px" /></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<br />
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" style="color:#FF6A4C;" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="HallOfFameBattingPredictions">
                @*<span class="oi oi-plus" style="color:#FF6A4C;" aria-hidden="true"></span> HoF Batting Predictions*@
                <img src="images/baseball.jpg" width="28px" height="28px" style="padding-right:3px;" />HoF Batting Predictions
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
